<h1><%= @post.title%></h1>
<p><%=@post.body%>
<br>
<small>Posted <%= time_ago_in_words(@post.created_at)%> ago</small>
</p>
<br>
<% if can?(:crud, @post) %>
<%= link_to 'Edit', edit_post_path, class: "btn btn-outline-primary" %>
<%= link_to 'Delete', post_path, method: :delete, data: {confirm: "Are you sure you want to delete this post?"}, class: "btn btn-outline-primary" %>
<% end %>

<hr>

<h4>Comment</h4>
<%= form_with(model: [@post, @comment], local: true) do |f|%>
    <% if @comment.errors.present? %>
        <p><%= @comment.errors.full_messages.join(", ") %></p>
    <% end %>

    <div class="form-group">
        <%=f.text_area :body, placeholder:"What's on your mind?", class:"form-control"%>
    </div>

    <%=f.submit "Submit", class:"btn btn-outline-primary"%>
<% end %>

<br>
<br>

<ul class="list-unstyled">
<% @comments.each do |comment| %>
    <li class="mb-2">
        <%= comment.body %>
        <br>
        <small><%= time_ago_in_words(comment.created_at)%></small>
        <% if can?(:crud, comment)%>
        <%= link_to 'Delete', post_comment_path(@post.id, comment.id), method: :delete, data: {confirm: "Delete Comment?"} %>
        <% end %>
    </li>
<% end %>
</ul>
