<!DOCTYPE html>
<html>
  <head>
    <title>BlogOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <nav class="p-2 fixed-top navbar navbar-light bg-light">
  <%= link_to 'Blog On Rails', root_path, class:"navbar-brand text-primary" %>
<header class="form-inline">
  <%= link_to 'Home', root_path, class:"mr-3" %>
   
  
  <% if signed_in?%>
  <%= link_to 'New Post', new_post_path, class:"mr-3 ml-3" %>
  
  <span class="mr-3 ml-3">
  Hello, <%= link_to current_user.name, edit_user_path(current_user.id) %>!
  </span>
  
  <%= link_to 'Sign Out', session_path, method: :delete, class:"mr-3 ml-3" %>
  <% else %>
  <%= link_to 'Sign Up', new_user_path, class:"mr-3 ml-3" %>
  
  <%= link_to 'Sign In', new_session_path, class:"mr-3 ml-3" %>
  <% end %>
  </header>
</nav>
    <br>
    <br>
    <br>
    <%flash.each do |type, message|%>
    <h4><%= message %></h4>
    <% end %>
  <body class="m-4">
    <%= yield %>
  </body>
</html>
